resume
passages
samples
samples_backend
other_plan
node_modules
backend/node_modules
backend/memquiz/jotts/
backend/memquiz/TTS/
backend/memquiz/espeak_flask/
backend/memquiz/portaudio/
backend/memquiz/pcaudiolib/
backend/memquiz/ffmpeg-2022-08-29-git-f99d15cca0-essentials_build/bin
backend/memquiz/espeak-1.48.04-source
backend/memquiz/my_tts_flask/cache
backend/memquiz/my_tts_flask/.idea
backend/memquiz/my_tts_flask/__pycache__
/.vscode
/speech_syn
backend/memquiz/.venv/
backend/memquiz/ffmpeg-2023-05-31-git-baa9fccf8d-full_build/
*.tsv
*.csv
*.db
*.pyc